<h3>Paste &amp; Share</h3>
<p><span class="fa fa-paste"></span> Paste a piece of <code>markdown</code></p>
<p><span class="fa fa-chain"></span> Get a unique URL for sharing</p>
<hr>
<h3>Syntax</h3>
<p><a href="https://help.github.com/articles/github-flavored-markdown" target="_blank">Github-flavored Markdown</a></p>
<p><a href="http://daringfireball.net/projects/markdown/" target="_blank">Original specification</a></p>
<h2></h2>