<div class="row">
  <div class="col-md-8">
    <div class="page-header">
      <h2><%= @paste.title %></h2>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <div class="pull-right">
      <ul class="list-inline">
        <li><a href="#" class="btn btn-default">URL</a></li>
        <li><a href="#" class="btn btn-default">RAW</a></li>
        <li><a href="#" class="btn btn-default">RE</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <div class="<%= @typo_class %>">
      <%= raw @markdown_html %>
    </div>
  </div>
</div>